[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = '*'
pytest-mock = '*'
pytest-asyncio = '*'
pytest-cov = '*'

[packages]
aiohttp = '*'
sanic = '*'
sanic-cors = '*'
beautifulsoup4 = '*'
cchardet = '*'
aiodns = '*'
jieba = "*"
asynctest = "*"

[requires]
python_version = "3.8"
